thirdParty/MCsquare/bin/Materials/
userdata/*
testresults.xml
coverage.xml
coverage.json
*.asv
build/
matRad-technical-documentation/
*.png
*.jpg
LLM_Agent_Planner/sessions_messages/
LLM_Agent_Planner/utils/
console_output/
agent_output_*.txt
messages_debug.txt
ipopt_mex/
