thirdParty/MCsquare/bin/Materials/
userdata/*
testresults.xml
coverage.xml
coverage.json
*.asv
build/
matRad-technical-documentation/
*.png
*.jpg
LLM_Agent_Planner/examples/test_*.py
agent_output_4Jakob.txt
RadOnk_Hals
RadOnk_Hals.zip
messages_debug.txt
